.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main{
    width: calc(100% - 175px);
    margin-left: 175px;
  }

  &-sidebar{
    position: fixed;
    width: 175px;
    background-color: black;
    height: 100%;
    top: 0;

    .logo{

      width: 100%;

      img{
        max-width: 100%;
        padding: 20px;
      }
    }
    .links{
      ul{
        margin: 0;
        padding: 0;

        li{
          display: block;
          list-style: none;
          width: 100%;
          a{
            color: white;
            padding: 10px 15px;
            display: block;
            width: 100%;

            &:hover{
              background-color: lightslategray;
            }
            &.logout {
               color: cadetblue;
             }
          }
          em{
            margin-right: 8px;
            margin-top: 0;
            float: left;
          }

        }
      }
    }

  }
  &-page {
    padding: 15px;
  }
}

