//Base
@import '~normalize.css/normalize.css';
@import "./base/colors";
@import "./base/fonts";
@import "./base/mixins";

//Libraries
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";
@import "./base/configuration";

//Pages
@import "./apps/shop/pages/home-page";
@import "./apps/shop/pages/products-list-page";


//shared
@import "./apps/shop/shared/header";
@import "./apps/shop/shared/footer";
@import "./apps/shop/shared/nav";

//libs
@import "libs/products/products";
@import "libs/users/users";
@import "libs/ui/ui";

.container{
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(219, 219, 224, 0.3);
}
