<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" >
    <div class="links">
      <ul>
        <li>
          <a routerLink=""><em  class="pi pi-home"></em>Dashboard</a>
        </li>
        <li>
          <a routerLink="/products"><em  class="pi pi-briefcase"></em>Product</a>
        </li>
        <li>
          <a routerLink="/categories"><em  class="pi pi-list"></em>Categories</a>
        </li>
        <li>
          <a routerLink="/orders"><em  class="pi pi-shopping-cart"></em>Orders</a>
        </li>
        <li>
          <a routerLink="/users"><em  class="pi pi-users"></em>Users</a>
        </li>
        <li>
          <a class="logout" (click)="logoutUser()" style="cursor: pointer"><em class="pi pi-sign-out" ></em>Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
