<footer>
    <div class="p-grid footer-wrapper">
        <div class="p-col-8">&copy; 2022 E-Shop</div>
        <div class="p-col-4 social">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><em class="pi pi-facebook"></em></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><em class="pi pi-twitter"></em></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><em class="pi pi-youtube"></em></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
